[submodule "bundle/puppet-syntax"]
	path = bundle/puppet-syntax
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
